* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#user-button {
    width: 200px;
}

#toolbar {
    display: flex;
    background: #274156;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5%;
}

#toolbar button {
    padding: 20px;
    border-style: none;
    background-color: #1C6E8C;
    color: white;
}

#toolbar button:hover {
    background-color: #185c75;
}

#toolbar h3 {
    padding: 20px;
    color: white;
}

#main-container {
    background: #FBFCFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#table-container {
    background: #E6E4E8;
    height: 80%;
    width: 80%;
}

#table-actions-container {
    background: #1C6E8C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    height: 7%;
}

#cell-actions {
    display: flex;
    height: 100%;
}

#general-opts {
    display: flex;
    height: 100%;
}

.table-act-button {
    padding: 5px;
    background: #274156;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-right-width: 1px;
    border-bottom-width: 3px;
    border-color: #274156; 
    border-right-color: #3B5265;
    height: 100%;
}

.table-act-button:hover {
    border-bottom-color: green;
}

th {
    width: 5%;
    padding: 10px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: #cacaca;
    font-weight: normal;
    background-color: #dadada;
}

table {
    width: 100%;
    overflow-y:scroll;
    height:100%;
    display:block;
}

td {
    padding: 20px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: #cacaca;
    font-weight: normal;
}

td:hover {
    background: #1C6E8C;
}

dialog {
    align-self: center;
    justify-self: center;
    width: 500px;
    height: 400px;
    border-style: none;
}

dialog button {
    padding: 10px;
    border-style: none;
    background-color: #1C6E8C;
    color: white;
    margin-right: 5px;
}

dialog button:hover {
    background-color: #185c75;
}

header {
    width: 100%;
}

header h3 {
    background: #1C6E8C;;
    color: white;
    font-weight: normal;
    padding: 10px;
}

#dialog-display-div {
    display: flex;
    width: 100%;
    height: 100%;  
}

#dialog-display-div #button-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 5px;
    padding-bottom: 5px;
}

#button-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 5px;
    padding-bottom: 5px;
}

#dialog-display-div div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#stard-end-time-div {
    padding-left: 20px;
    padding-top: 10px;
    width: 100%;
}

#stard-end-time-div p {
    padding-bottom: 5px;
    padding-top: 5px;
}

#input-event-title {
    width: 100%;
}

#time-book-opts-start {
    width: 30%;
}


#time-book-opts-end {
    width: 30%;
}

#classroom-book-opts {
    width: 60%;
}

form div {
    padding-left: 20px;
    width: 100%;
}

form div p{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

form {
    width: 60%;
}

#user-booking-opts {
    width: 70%;
    margin-left: 3%;
    padding: 1%;
}

#bookings-active-user-label {
    padding: 5%;
    padding-bottom: 2%;
    padding-top: 20%;
}

#delete-selected-booking {
    width: 15%;
    margin-left: 5%;
}

#deletion-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 154px;
}

#admin-panel {
    width: 50%;
    height: 50%;
}

#div-set-as-separate-cols {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
}

#div-set-as-separate-cols button {
    margin-left: 5px;
}

#inline-thing {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
}




