* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#user-button {
    width: 200px;
}

#toolbar {
    display: flex;
    background: #274156;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5%;
}

#toolbar button {
    padding: 20px;
    border-style: none;
    background-color: #1C6E8C;
    color: white;
}

#toolbar button:hover {
    background-color: #185c75;
}

#toolbar h3 {
    padding: 20px;
    color: white;
}

#main-container {
    background: #FBFCFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#table-container {
    background: #E6E4E8;
    height: 80%;
    width: 80%;
}

#table-actions-container {
    background: #1C6E8C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    height: 7%;
}

#cell-actions {
    display: flex;
    height: 100%;
}

#general-opts {
    display: flex;
    height: 100%;
}

.table-act-button {
    padding: 5px;
    background: #274156;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-right-width: 1px;
    border-bottom-width: 3px;
    border-color: #274156; 
    border-right-color: #3B5265;
    height: 100%;
}

.table-act-button:hover {
    border-bottom-color: green;
}

th {
    width: 5%;
    padding: 10px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: #cacaca;
    font-weight: normal;
    background-color: #dadada;
}

table {
    width: 100%;
    overflow-y:scroll;
    height:100%;
    display:block;
}

td {
    padding: 20px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: #cacaca;
    font-weight: normal;
}

td:hover {
    background: #1C6E8C;
}

dialog {
    align-self: center;
    justify-self: center;
}
